<li [ngClass]="{'post-list-item': true,
                'list-group-item-success': isPositive(),
                'list-group-item-danger' : isNegative()}">
    <h4>{{ postTitle }}</h4>
    <span class="date">{{ postCreatedAt | date : 'short' }}</span>
    <p>{{ postContent }}</p>
    <span [ngClass]="{'badge badge-secondary': true,
                      'badge-success' : isPositive(),
                      'badge-danger' : isNegative()}">{{ postLoveIts }}</span>
    <button class="btn btn-success" (click)="incrementLoveIts()">Love it!</button>
    <button class="btn btn-danger" (click)="decrementLoveIts()">Don't love it!</button>
</li>